@import 'src/styles/variables';

.btn {
  display: inline-block;
  background-color: transparent;
  color: $color-white;
  padding: 12px 24px;
  font-size: 18px;
  border-radius: 16px;
  transition: all 0.2s;
  letter-spacing: 1px;
  text-transform: uppercase;

  &--primary {
    border: 2px solid $color-pink;
  }

  &--secondary {
    border: 2px solid $color-pink;
    background-color: $color-pink;
    filter: contrast(2);
  }

  &--primary,
  &--secondary {
    &:hover {
      background-color: rgba($color-pink, 0.8);
      filter: drop-shadow(0 0 20px $color-pink) contrast(2) brightness(2);
    }

    &:active {
      filter: drop-shadow(0 0 8px $color-pink) contrast(2) brightness(2);
    }
  }

  &:hover {
    transform: scale(1.1) translateY(-2px);
  }

  &:active {
    transform: scale(0.99) translateY(0.5px);
  }
}
