@import "./variables";

.heading-primary {
  font-size: 64px;
  line-height: 72px;
  font-weight: 600;
  text-transform: capitalize;
}

.neon-text {
  color: $color-pink;
  margin-bottom: 84px;
  text-shadow: 0 0 7px $color-white, 0 0 10px $color-white, 0 0 21px $color-light-blue,
    0 0 42px $color-light-blue, 0 0 82px $color-light-blue, 0 0 92px $color-light-blue,
    0 0 102px $color-light-blue, 0 0 151px $color-light-blue;
}
