$color-white: #f4f4f4;
$color-black: #0a0f5a;
$color-dark-blue: #01032d;
$color-light-blue: #0ba9ca;
$color-pink: #ff03a3;
$bp-medium: 700px;
$bp-small: 400px;
$header-height-desktop: 84px;
$header-height-modile: 200px;
