@import 'src/styles/variables';

.game {
  height: 100%;
  min-height: calc(100vh - #{$header-height-desktop});
  background-image: url('../../images/bg.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: $header-height-desktop;

  @media only screen and (max-width: $bp-medium) {
    padding-top: $header-height-modile;
  }

  &,
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__container {
    gap: 48px;

    @media only screen and (max-width: $bp-small) {
      gap: 36px;
      padding-bottom: 36px;
    }
  }

  &__header {
    background-color: rgba($color-white, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: $header-height-desktop;
    display: flex;
    align-items: center;
    backdrop-filter: blur(8px);

    @media only screen and (max-width: $bp-medium) {
      height: $header-height-modile;
    }
  }

  &__line {
    width: 100%;
    display: grid;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 180px 1fr 180px;

    @media only screen and (max-width: $bp-medium) {
      grid-template-columns: 1fr;
      justify-items: center;
      row-gap: 12px;
    }

    & .btn {
      @media only screen and (max-width: $bp-medium) {
        grid-row: 1 / 2;
      }
    }
  }

  &__moves {
    color: $color-light-blue;
    font-size: 24px;
  }

  &__win {
    text-align: center;
  }
}
